{% extends 'base.html.twig' %}

{% block title %}Colors{% endblock %}

{% block body %}
<h1>Colors shades</h1>
<table style="border-collapse: collapse;">
    <thead>
        <tr>
            {% for name in colors|keys %}
                <th style="padding: 8px; text-align: left;">{{ name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for i in 0..(count - 1) %}
            <tr>
                {% for name, shades in colors %}
                    {% set shade = shades[i] %}
                    <td title="{{ shade.hex }}" style="height: 40px; width: 80px; background: {{ shade.hex }}; padding: 0; border: 1px solid #ccc; vertical-align: middle;"></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
