<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex01: Article</title>
</head>
<body>

    <header>
        <h1>Mon Site Ex01</h1>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <p>Fin Articles</p>
    </footer>

</body>
</html>
