<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex01: Main</title>
</head>
<body>
    <header>
        <h1>Bienvenue sur notre site d'articles</h1>
    </header>

    <ul>
        <li><a href="/e01/gull">Gull</a></li>
        <li><a href="/e01/coffee">Coffee</a></li>
        <li><a href="/e01/tea">Tea</a></li>
    </ul>

    <footer>
        <p>Fin articles</p>
    </footer>
</body>
</html>
